DATABASE_URL=sqlite:///./dev.db
CURRENT_SEASON=2026
HISTORICAL_SEASONS=[2023,2024,2025]
DEFAULT_LEAGUE_SIZE=12
DEFAULT_SCORING_FORMAT=ppr
ROSTER_SLOTS={"QB":1,"RB":2,"WR":2,"TE":1,"FLEX":1}
REPLACEMENT_BUFFER=2
FANTASYPROS_ADP_URL=https://www.fantasypros.com/nfl/adp/overall.php
